backend/soap/soap_server.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://api.superwallet.loc/soap/soap_server.wsdl"
    targetNamespace="http://api.superwallet.loc/soap/soap_server.wsdl">

     <!-- Import XML Schema namespace -->
    <import namespace="http://www.w3.org/2001/XMLSchema" schemaLocation="http://www.w3.org/2001/XMLSchema.xsd"/>

    <!-- Define the types (data structures) used in the service -->
    <types>
        <xsd:schema targetNamespace="http://api.superwallet.loc/soap/soap_server.wsdl"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <!-- Define the input message for 'registerClient' operation -->
            <xsd:element name="registerClient">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="document" type="xsd:integer"/>
                        <xsd:element name="mail" type="xsd:string"/>
                        <xsd:element name="phone" type="xsd:integer"/>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Define the output message for 'registerClient' operation -->
            <xsd:element name="registerClientResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="code" type="xsd:integer"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Define the input message for 'loadWallet' operation -->
            <xsd:element name="loadWallet">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="document" type="xsd:integer"/>
                        <xsd:element name="phone" type="xsd:integer"/>
                        <xsd:element name="value" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Define the output message for 'loadWallet' operation -->
            <xsd:element name="loadWalletResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="code" type="xsd:integer"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <!-- Define the input message for 'checkBalance' operation -->
            <xsd:element name="checkBalance">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="document" type="xsd:integer"/>
                        <xsd:element name="phone" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Define the output message for 'loadWallet' operation -->
            <xsd:element name="checkBalanceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="balance" type="xsd:float"/>
                        <xsd:element name="code" type="xsd:integer"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>


    <!-- Define the service and port -->
    <message name="registerClientMessage">
        <part name="parameters" element="tns:registerClient"/>
    </message>
    
    <message name="registerClientResponseMessage">
        <part name="parameters" element="tns:registerClientResponse"/>
    </message>

    <message name="loadWalletMessage">
        <part name="parameters" element="tns:loadWallet"/>
    </message>
    
    <message name="loadWalletResponseMessage">
        <part name="parameters" element="tns:loadWalletResponse"/>
    </message>

    <message name="checkBalanceMessage">
        <part name="parameters" element="tns:checkBalance"/>
    </message>
    
    <message name="checkBalanceResponseMessage">
        <part name="parameters" element="tns:checkBalanceResponse"/>
    </message>


    <portType name="SuperWalletSOAPPortType">
        <!-- Add the 'registerClient' operation -->
        <operation name="registerClient">
            <input message="tns:registerClientMessage"/>
            <output message="tns:registerClientResponseMessage"/>
        </operation>
        <!-- Add the 'loadWallet' operation -->
        <operation name="loadWallet">
            <input message="tns:loadWalletMessage"/>
            <output message="tns:loadWalletResponseMessage"/>
        </operation>
        <!-- Add the 'checkBalance' operation -->
        <operation name="checkBalance">
            <input message="tns:checkBalanceMessage"/>
            <output message="tns:checkBalanceResponseMessage"/>
        </operation>
    </portType>

    <binding name="SuperWalletSOAPBinding" type="tns:SuperWalletSOAPPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!-- Add the 'registerClient' operation -->
        <operation name="registerClient">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <!-- Add the 'loadWallet' operation -->
        <operation name="loadWallet">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <!-- Add the 'checkBalance' operation -->
        <operation name="checkBalance">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="SuperWalletSOAP">
        <port name="SuperWalletSOAPPort" binding="tns:SuperWalletSOAPBinding">
            <soap:address location="http://api.superwallet.loc/soap/soap_server.php"/>
        </port>
    </service>
</definitions>
